<head>
   <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
   <script>
       ShopifyApp.init({
           apiKey,
           shopOrigin: 'https://bowes-guitars.myshopify.com',
       });
   </script>
</head>
<body>
    Create new Customer

</body>